<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= product.name %> </title>
    <% include ../partial/head %>
</head>
<style>
    .btn-product {
      width: 100%;
    }
    .single-product {
      margin-top: 100px;
    }
    .caption {
      padding-top: 40px;
    }
    .item-count {
      border: 1px solid lightGray;
      font-weight: 400;
    }
  </style>
<body>
    <% include ../partial/navbar %>

    <div class="container single-product">
        <hr class="colorgraph single-hr" />
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="thumbnail">
                    <img src="<%= product.image%>" style="height: 100%; width: 100%;" />

                </div>
                <div class="caption">
                    <h3> <%= product.name %> </h3>
                    <p><%= product.description %> </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 price" style="padding-top: 100px; margin: 0 auto;">
                <h3>Price Per Item: <label for="price"><%= product.price %> </label></h3>
            </div>
        </div>
        <hr style="margin-top: 40px;" class="colorgraph single-hr" />
    </div>
    <% include ../partial/footer %> 
    <% include ../partial/scripts %>
</body>

</html>